<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Create</title>
</head>
<body>
    <div class="container">
        <nav style="background-color: aquamarine">
            <div class="container col-md-offset-10 col-md-2">
                <a href="/access/logout">Return to Main Page</a>
            </div>
        </nav>
        <div class="jumbotron text-center" style="background-color: aquamarine">
            <h1>Create a New Question</h1>
        </div>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form class="form-horizontal" action="addCollection" method="post">
        {% csrf_token %}
            <div class = "form-group">
                <label class = "control-label col-sm-4" for="new_collection">New Collection</label>
                <div class = "col-sm-8">
                    <input type="text" class="form-control" id ="new_collection" name="new_collection">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-default" href='/'>Back to Main Page</a>
                </div>
            </div>
        </form>
        <hr/>
        {% if collections %}
        <form class="form-horizontal" action="addQuestion" method="post">
        {% csrf_token %}

            <div class = "form-group">
                <label class="control-label col-sm-4" for="question">Enter question</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="question" name="question">
                </div>
            </div>
            <div class = "form-group">
                <label class="control-label col-sm-4" for="answer">Enter the answer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="answer" name="answer">
                </div>
            </div>
            <div class = "form-group">
                <label class="control-label col-sm-4" for="wrong1">Enter first wrong answer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="wrong1" name="wrong1">
                </div>
            </div>
            <div class = "form-group">
                <label class="control-label col-sm-4" for="wrong2">Enter second wrong answer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="wrong2" name="wrong2">
                </div>
            </div>
            <div class = "form-group">
                <label class="control-label col-sm-4" for="wrong3">Enter third wrong answer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="wrong3" name="wrong3">
                </div>
            </div>

            <div class = "form-group">
                <label class="control-label col-sm-4" for="collection_id">Assign Collection</label>
                <div class="col-sm-8">
                    <select class="form-control" id="collection_id" name="collection_id">
                    {% for collection in collections %}
                        <option value={{collection.id}}>{{collection.collection_name}}</option>
                    {% endfor %}
                    </select>    
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-default" href='/'>Back to Main Page</a>
                </div>
            </div>
        </form>
        {% endif %}
        
        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Wrong1</th>
                <th>Wrong2</th>
                <th>Wrong3</th>
                <th>Collection</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{question.id}}</td>
                <td>{{question.copy}}</td>
                <td>{{question.answer}}</td>
                <td>{{question.wrong1}}</td>
                <td>{{question.wrong2}}</td>
                <td>{{question.wrong3}}</td>
                <td>{{question.collection.collection_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</body>
</html>