<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Game Stage</title>
</head>
<body>
    <div class="container text-center">
        <div class="jumbotron">
            <h1>Players</h1>
        </div>

        {% if user2 %}
            <div class="row">
                <h2 class="col-lg-6">{{user1.first_name}} {{user1.last_name}}</h2>
                <h2 class="col-lg-6">{{user2.first_name}} {{user2.last_name}}</h2>
            </div>
            {% else %}
            <div class="row">
                <h2 class="col-lg-12">{{user1.first_name}} {{user1.last_name}}</h2>
            </div>
        {% endif %}

        <form action="newGame" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-md-offset-4 col-md-4">
                    <label class="control-label" for="collection_id">Choose a Collection of Questions</label>
                    <select class="form-control col-md-4" id="collection_id" name="collection_id">
                        {% for collection in all_collections %}
                        <option value={{collection.id}}>{{collection.collection_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
                <p><button type="submit" class="btn btn-success">Start <br> Game</button></p>
        </form>

        {% if not user2 %}
                <p><a class="btn btn-warning" href="addSecondPlayer">Add a Player</a></p>
        {% endif %}

    </div>
</body>
</html>