<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Trivia</title>
</head>
<body>
    <div class="container">
        <nav style="background-color: aquamarine">
            <div class="container col-md-offset-10 col-md-2">
                <a href="/access/logout">Return to Main Page</a>
            </div>
        </nav>

        <div class="jumbotron text-center" style="background-color: aquamarine">
            <h1>LET'S PLAY TRIVIA</h1>
        </div>
        <p class="text-center"><a class="btn btn-primary btn-lg" href='access/playerLogin'>Start a New Game</a></p>

        <div class="row text-center">
            <a class="btn btn-info" href='access'>Account</a>
            <a class="btn btn-warning" href='leaderboard'>Leaderboard</a>
            <a class="btn btn-success" href='addQuestion'>Add a Question</a>
        </div>
    </div>
</body>
</html>